@page
@using E_Migrant.App.Dominio.Entidades
@model E_Migrant.App.Frontend.Pages.PanelControlEntidadModel
@{
}
<h2>Bienvenido al panel de administración Empresarial de E-Migrant</h2>
<h4>@Model.usuario</h4>
<p>Selecciona los servicios que deseas ejecutar.</p>

<div>
    <div>
        @if (@Model.entidad==null)
        {
            <a class="btn btn-primary table-btn" asp-page="./Servicios/InformacionEntidad">
            <i class="bi bi-file-plus" aria-hidden="true"></i>
            Registrar la información de mi Empresa
            </a>
        }else{
            <a class="btn btn-secondary table-btn" asp-page="./Servicios/InformacionEntidad" asp-route-idEntidad="@Model.entidad.Id">
            <i class="bi bi-pencil-square" aria-hidden="true"></i>
            Actualizar la información de mi Empresa
            </a>
        }
    </div>
    <br>
    <div>
            <a class="btn btn-primary table-btn" asp-page="./Servicios/RegistroServicio">
            <i class="bi bi-file-plus" aria-hidden="true" ></i>
            Registrar un nuevo servicio
            </a>
            <a class="btn btn-primary table-btn" asp-page="./Servicios/ListaServicios">
            <i class="bi bi-file-plus" aria-hidden="true" ></i>
            Lista de servicios
            </a>
    </div>
   
</div>