@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

        }

}

<div class="text-center">
    <h1 class="display-4">Conversor de unidades</h1>
    <p>Ingrese su altura y peso</a>.</p>
</div>

<form method="post">
  <div class="form-group">
    <label for="formGroupExampleInput">Altura</label>
    <input type="number" name="Altura" class="form-control" id="formGroupExampleInput" placeholder="Ingrese su Altura en metros">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Peso</label>
    <input type="number" name="Peso" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese su Peso en Kg">
  </div>
  <input class="btn btn-primary" type="submit" value="Calcular">
  <div class="form-group">
    <label for="formGroupExampleInput">Respuesta</label>
    <input type="text" readonly class="form-control" id="formGroupExampleInput" >
  </div>
</form>