@page
@using E_Migrant.App.Dominio.Entidades;
@model E_Migrant.App.Frontend.Pages.GerenciaConsultarNecesidadModel
@{
}
<h1>Necesidades</h1>
<h2>Filtrar por:</h2>


<table class="table">
    <thead>
        <tr>
            <th>Tipo de necesidad</th>
            <th>descripcion</th>
            <th>nivel de prioridad</th>
            <th>estado</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            @foreach (var necesidad in Model.Necesidades)
            {
                if (necesidad.EstadoNecesidad.ToString() == "Solucionado")
                {
                    <tr>
                    <td>@necesidad.Categorias</td>
                    <td>@necesidad.Descripcion</td>
                    <td>@necesidad.NivelPrioridad</td>
                    <td>@necesidad.EstadoNecesidad</td>
                    </tr>
                }

            }
        </tr>
    </tbody>
</table>

<a class="btn btn-primary table-btn" asp-page="./Migrante">
    <i class="bi bi-file-plus" aria-hidden="true"></i>
    Volver
</a>


